<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Vue -->
  <script src="../../vue.js"></script>

  <title>Learning Vue.js</title>

</head>
<body>
  <div id="app">
    <ul>
      <li v-for="(course, key) in courses">{{ key + 1 }} - {{ course }}</li>
    </ul>
    <hr>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(course, key) in courses2">
          <td>{{ key }}</td>
          <td>{{ course.title }}</td>
          <td>{{ course.description }}</td>
        </tr>
      </tbody>
    </table>
    <ul>
      <li v-for="{title, description} in courses2"> <!-- Destructuring assignment -->
        {{ title }}
        <br>
        {{ description }}
      </li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        courses: ["Laravel", "Vuejs", "BD", "SOLID", "Angular"],
        courses2: {
          1000: {
            title: "Laravel",
            description: "Domine o fw PHP mais poderoso do mundo"
          },
          1001: {
            title: "Banco de dados",
            description: "Aprenda os principais BDs relacionais do mercado"
          },
        }
      },
      methods: {},
      computed: {}
    });
  </script>
</body>
</html>