<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Vue -->
  <script src="../../vue.js"></script>

  <title>Learning Vue.js</title>

</head>
<body>
  <div id="app">
    <ul>
      <li v-for="(course, key) in courses">{{ key + 1 }} - {{ course }}</li>
    </ul>
    <hr>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(course, key) in courses2">
          <td>{{ key }}</td>
          <td>{{ course.title }}</td>
          <td>{{ course.description }}</td>
        </tr>
      </tbody>
    </table>
    <ul>
      <li v-for="{title, description} in courses2"> <!-- Destructuring assignment -->
        {{ title }}
        <br>
        {{ description }}
      </li>
    </ul>
    <hr>
    <ul>
      <li v-for="publication in publications" :key="publication.id">
        {{ publication.id }} -> {{ publication.title }}
        <input type="text">
      </li>
    </ul>
    <button @click="mixArray()">Mix Array</button>
    <hr>
    <ul>
      <li v-for="n in 10">{{ n }}</li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        courses: ["Laravel", "Vuejs", "BD", "SOLID", "Angular"],
        courses2: {
          1000: {
            title: "Laravel",
            description: "Domine o fw PHP mais poderoso do mundo"
          },
          1001: {
            title: "Banco de dados",
            description: "Aprenda os principais BDs relacionais do mercado"
          },
        },
        publications: [
          { id: 1, title: "Title 1" },
          { id: 2, title: "Title 2" },
          { id: 3, title: "Title 3" },
        ]
      },
      methods: {
        mixArray() {
          let mix = [];
          mix[0] = this.publications[2];
          mix[1] = this.publications[0];
          mix[2] = this.publications[1];
          this.publications = mix;
        }
      },
      computed: {}
    });
  </script>
</body>
</html>